$violet-blanc : #F0F0FD;
$violet : #5955F4;
$violet-clair : #ACAAFA;
$noir : #0F0F0F;
$bleu-casse : #EEF1F8;
$blanc : #FBFBFB;
$gris : #DCDBDB;

$font-sizes: (
    14,
    16,
    18,
    20,
    22,
    24,
    26,
    28,
    30,
    32,
    34,
    36,
    38,
    40,
    42,
    44,
    55,
    46,
    48,
    76,
    78,
    80,
    82,
    96
);

@each $font-size in $font-sizes {
    .font-size-#{$font-size} {
        font-size: #{$font-size}px !important;
    }
}

.body-admin {
    min-height: 100vh;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    background-color: $violet-blanc;
}


//LOGIN
.login-page {

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 150px;
        padding-bottom: 40px;
        ;

        img {
            max-width: 250px;
        }
    }

    .form_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;

        .form_container {
            background-color: $blanc;
            border-radius: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 70px 60px;
            box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.05);

            h1 {
                color: $noir;
                font-weight: bold;
                width: 65%;
                text-align: center;
                margin-bottom: 50px;
            }

            form {
                width: 100%;
                max-width: 65%;

                .input_block {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 8px;

                    label {
                        font-size: 14px;
                        font-weight: bold;
                        color: $noir;
                        margin-bottom: 4px;
                    }

                    input {
                        background-color: $bleu-casse;
                        border: none;
                        border-radius: 15px;
                        padding: 12px 14px;
                        font-size: 16px;
                        border: 2px solid $bleu-casse;
                    }
                }

                button {
                    background-color: $violet;
                    color: $blanc;
                    font-weight: bold;
                    font-size: 18px;
                    border-radius: 15px;
                    border: 2px solid $violet;
                    padding: 12px 14px;
                    width: 100%;
                    margin-top: 8px;
                    transition: all 0.3s;

                    &:hover {
                        background-color: $violet-clair;
                        border-color: $violet-clair;
                        transition: all 0.3s;
                    }

                }
            }

            .error_message {
                margin-top: 25px;
                font-size: 14px;
                color: $noir;
                text-align: center;
                width: 100%;
                max-width: 65%;
            }
        }

    }
}

//NAV ADMIN
.menu_admin {
    min-height: calc(100vh - 40px);
    background-color: $blanc;
    box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .block {


        .burger {
            display: flex;
            justify-content: end;
            padding: 20px;

            img {
                width: 40px;
            }
        }

        .logo {
            display: flex;
            justify-content: center;
            max-width: 250px;
            margin: 40px auto 65px;

            img {
                width: 100%;
            }
        }

        .small_logo {
            img {
                width: 65px;
            }
        }




        .block_links {

            .link {
                display: flex;
                align-items: center;
                width: 300px;
                margin: 0 20px;
                padding: 5px 11px;
                border-radius: 10px;
                cursor: pointer;

                .icon {
                    padding: 10px;
                    min-width: 25px;
                }

                .text {
                    font-size: 18px;
                    font-weight: bold;
                    color: $gris;
                    padding-left: 10px;
                }
            }

            .active {
                background-color: $violet;

                .text {
                    color: $blanc;
                }
            }

            .hide_text {
                .text {
                    display: none;
                }
            }
        }

    }

    .nav_footer {
        margin-bottom: 20px;

        .user_info {
            display: flex;
            align-items: center;
            width: 300px;
            margin: 15px 20px;
            padding: 5px;

            .image {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .text {
                color: $violet;
                font-weight: 600;
                padding-left: 15px;
            }
        }

        .link {
            background-color: $violet-blanc;
            display: flex;
            align-items: center;
            width: 300px;
            margin: 0 20px;
            padding: 5px 11px;
            border-radius: 10px;
            cursor: pointer;

            .icon {
                padding: 12px;
                min-width: 25px;
            }

            .text {
                font-size: 18px;
                font-weight: bold;
                color: $violet-clair;
                padding-left: 10px;
            }
        }

        .hide_text {
            .text {
                display: none;
            }
        }
    }

}

.menu_close {

    .block {

        .block_links {
            .link {
                width: auto;
                justify-content: center;
            }
        }
    }

    .nav_footer {

        .user_info {
            width: auto;
        }

        .link {
            width: auto;
            justify-content: center;
        }
    }
}




//DASHBOARD
.page {
    display: none;
    transition: all 0.3s;

    .nav_admin {
        padding: 20px;
        position: fixed;
    }
}

@media (min-width: 1200px) {
    /* LG */
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* MD */

}

@media (min-width: 768px) and (max-width: 991px) {
    /* SM */
}

@media (max-width: 767px) {
    /* XS */

}